<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon">
        <!--i class="fas fa-laugh-wink"></i-->
      </div>
      <div class="sidebar-brand-text mx-3">CREATE APPRAISAL</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Dashboards Accordion Menu -->
    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <!--i class="fas fa-fw fa-tachometer-alt"></i-->
        <span>Employee</span>
      </a>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Employee:</h6>
          <a class="collapse-item" href="index.html">Management System</a>
          <a class="collapse-item" href="#">Information System</a>
          <a class="collapse-item" href="#">Account Management System</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Components
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-folder"></i>
        <span>Appraisal</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Templates</h6>
          <% if (user.category == 'admin') { %>
          <a class="collapse-item" href="/create_appraisal">Create Templates</a>
          <% } %>
          <% if (user.category == 'admin') { %>
            <a class="collapse-item" href="/appraisal">View Appraisal</a>
          <% } %> 
          <% if (user.category == 'staff') { %>
            <a class="collapse-item" href="/staff_appraisal">View Appraisal</a>
          <% } %>  
          <% if (user.category == 'admin') { %>
          <a class="collapse-item" href="/assign">Assign</a>
          <% } %>
          <% if (user.category == 'admin') { %>
          <a class="collapse-item" href="/suspend">Drop or Suspend</a>
          <% } %>
          <% if (user.category == 'admin') { %>
          <a class="collapse-item" href="/reports">Reports and Analysis</a>
          <% } %>
          <% if (user.category == 'admin') { %>
          <a class="collapse-item" href="/query">Querying System</a>
          <% } %>
        </div>
      </div>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-fw fa-folder"></i>
          <span>Leave Management System</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Templates</h6>
            <a class="collapse-item" href="/leave_request">Leave Request</a>
            <a class="collapse-item" href="/view_leave">View Leave</a>
          </div>
        </div>
      </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Email</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->