@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
* {
	font-family: 'Open Sans', sans-serif;
}
 * {
 	box-sizing: border-box;
 }
 body {
 	background-color: #245b97;
 }
 .submitbtn{
 	background-color: #245b97;
 }
.wrapper {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	padding: 20px;
	background-color:#fff;
}
.images{
	width: 100%;
	text-align: center;
}
img {
	margin-left: auto;
	margin-right: auto;
}
@media  only screen and (max-width: 768px){
	.wrapper {
		width: 98%;
		margin-top: 12%;
	}
}